body {
    background-color: #A98EC2;
    font-family: 'Baumans', cursive;
    color: white;
    height: 90vh;
    width: 95vw;
}

.main {
    margin: 3rem 20rem;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#content {
    text-align: center;
    font-size: 3rem;
}

#content>p {
    margin-top: 0;
}

#logo {
    text-align: center;
}

#logo>img {
    width: 340px;
}

#footer {
    text-align: center;
}

#social {
    display: inline-flex;
}

#social>span {
    font-size: 2rem;
    margin: auto;
    margin-left: 1rem;
}

#social>span>a {
    color: white;
    text-decoration: none;
}

#social>span>a>img {
    width: 60px;
}

@media only screen and (max-width: 768px) {
    body {
        height: 90vh;
        width: 95vw;
    }

    #logo>img {
        width: 180px;
    }

    .main {
        margin: 0;
        height: 100%;
    }

    #content {
        font-size: 1.5rem;
        margin: 0 35px;
    }

    #social>span {
        font-size: 1.2rem;
        margin-left: 8px;
    }

    #social>span:first-child {
        margin-left: 0;
    }

    #social>span>a>img {
        width: 35px;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        height: 90vh;
        width: 95vw;
    }

    #logo>img {
        width: 180px;
    }

    .main {
        margin: 0;
        height: 100%;
    }

    #content {
        font-size: 1.5rem;
        margin: 0 35px;
    }

    #social>span {
        font-size: 1.2rem;
        margin-left: 8px;
    }

    #social>span:first-child {
        margin-left: 0;
    }

    #social>span>a>img {
        width: 35px;
    }
}